{% load static %}
{% include 'dashboard/layout.html' %}

{% block body %}
           <!-- partial -->
           <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                {% include 'dashboard/messages/messages.html' %}
                <div class="col-sm-12">
                  <div class="home-tab">
                    <!-- TODO -->
                    <div class="col-lg-10 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">All Surveys</h4>
                            <p class="card-description">
                              All Approved <code>surveys</code> and Requests
                            </p>
                            <div class="table-responsive">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>Shop Owner</th>
                                    <th>Shop Name</th>
                                    <th>Shop Address</th>
                                    <th>State</th>
                                    <th>Local govt</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for item in all %}
                                  <tr>
                                    <td>{{item.shop.kyc.client.name}}</td>
                                    <td>{{item.shop.name}}</td>
                                    <td>{{item.shop.kyc.client.address}}</td>
                                    <td>Kano</td>
                                    <td>Nassarawa</td>
                                    {% if item.approved %}
                                    <td><label class="badge badge-success">Approved</label></td>
                                    {% else %}
                                    <td><label class="badge badge-danger">Pending</label></td>
                                    {% endif %}
                                  </tr>
                                    {% endfor %}  
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Wego Healthcare Copyright © 2022. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
{% endblock %}