{% load static %}
{% include 'dashboard/layout.html' %}

{% block body %}
           <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
            <div class="row">
                
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Agent Information</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="exampleInputPassword1">Requests</label>
                                <h2>{{req_count}}</h2>
                            </div>
                            <div class="col-md-4">
                                <label for="exampleInputPassword1">Approved</label>
                                <h2>{{app_count}}</h2>
                            </div>
                            <div class="col-md-4">
                                <label for="exampleInputPassword1">Declined</label>
                                <h2>{{dec_count}}</h2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">First Name</label>
                            <p class="card-description">{{agent.first_name}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Last Name</label>
                            <p class="card-description">{{agent.last_name}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Email</label>
                            <p class="card-description">{{agent.email}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <p class="card-description">{{agent.username}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone</label>
                            <p class="card-description">08012345678</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Last Login</label>
                            <p class="card-description">{{agent.last_login}}</p>
                        </div>
                        <!-- <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Remember me
                            </label>
                        </div> -->
                        <!-- <button type="submit" class="btn btn-primary me-2">Submit</button>
                        </form> -->
                    </div>
                    </div>
                </div>

                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Agent Survey Requests</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Customer</th>
                                  <th>Date Collected</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for item in requests %}
                                <tr>
                                  <td>{{item.kyc.client.business_name}}</td>
                                  <td>{{item.kyc.client.date}}</td>
                                </tr>
                                  {% endfor %}  
                              </tbody>
                            </table>
                          </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Agent Approved Surveys</h4>
                      
                        <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Customer</th>
                                  <th>Date Collected</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for item in approved %}
                                <tr>
                                    <td>{{item.kyc.client.business_name}}</td>
                                    <td>{{item.kyc.client.date}}</td>
                                </tr>
                                  {% endfor %}  
                              </tbody>
                            </table>
                          </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Agent Declined Surveys</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Customer</th>
                                  <th>Date Collected</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for item in declined %}
                                <tr>
                                    <td>{{item.kyc.client.business_name}}</td>
                                    <td>{{item.kyc.client.date}}</td>
                                </tr>
                                  {% endfor %}  
                              </tbody>
                            </table>
                          </div>
                    </div>
                    </div>
                </div>
                

                
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Wego Healthcare Copyright © 2022. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
{% endblock %}