{% load static %}
{% include 'dashboard/layout.html' %}

{% block body %}
        <!-- partial -->
        <div class="main-panel">        
            <div class="content-wrapper">
              <div class="row">  
                {% include 'dashboard/messages/messages.html' %}
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create a new admin</h4>
                        <p class="card-description">
                        Users that have access to admin dashboard and are able to collect a survey
                        </p>
                        <form class="forms-sample" action="{% url 'new_admin' %}" method="post">
                            {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputUsername1">First Name</label>
                            <input type="text" name="first-name" class="form-control" id="exampleInputUsername1" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Last Name</label>
                            <input type="text" name="last-name" class="form-control" id="exampleInputUsername1" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Phone</label>
                            <input type="text" name="phone" class="form-control" id="exampleInputUsername1" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <!-- <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Remember me
                            </label>
                        </div> -->
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        </form>
                    </div>
                    </div>
                </div>
                {% if success %}
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Successful</h4>
                        <p class="card-description">
                        A new administrator has been created with the following credentials
                        </p>
                        <br>
                        <br>
                        <p class="card-description">
                            Username: {{username}}
                            </p>
                            <p class="card-description">
                                Password: {{password}}
                                </p>
                        <form class="forms-sample" action="{% url 'new_admin' %}" method="get">
                            {% csrf_token %}
                        <!-- <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Remember me
                            </label>
                        </div> -->
                        <button type="submit" class="btn btn-primary me-2">Finish</button>
                        </form>
                    </div>
                    </div>
                </div>
                {% endif %}


            </div>
            </div>



        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Wego Healthcare Copyright © 2022. All rights reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  {% endblock %}