{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Client Information</title>
    <link rel="icon" type="image/x-icon" href="{% static '/logo.svg' %}">
    <link href="https://unpkg.com/@tailwindcss/forms@0.2.1/dist/forms.min.css" rel="stylesheet">
</head>
<body class="h-full">
  

<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="">
      <div>
        <img class="mx-auto h-12 w-auto" src="{% static '/logo.svg' %}" alt="Wego Health">
        <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-gray-900">Pharmaceuticals Quantity</h2>
        <p class="mt-2 mb-2 text-center text-sm text-gray-600">
          <a href="#" class="font-medium text-[#490D49] hover:text-[#CB5ED1]"> All fields are required </a>
        </p>
      </div>
      <form action="{% url 'quantity' id %}" method="POST">
        {% csrf_token %}
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              {% for drug in drugs %}
              <div class="col-span-6 sm:col-span-3">
                <label for="{{drug.name}}" class="block text-sm font-medium text-gray-700">{{drug.drug}} quantity</label>
                <input type="text" name="{{drug.name}}" id="{{drug.name}}" autocomplete="{{drug.name}}" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              {% endfor %}

             
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#490D49] hover:bg-[#490D49] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
  
    <!-- <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
              <p class="mt-1 text-sm text-gray-600">Use a permanent address where you can receive mail.</p>
            </div>
          </div>
          <div class="mt-5 md:mt-0 md:col-span-2">
            
          </div>
        </div>
    </div> -->
      
</body>
</html>